body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 50px;
    color: red;
}

p {
    font-size: 30px;
    color: white;
}

.comment {
    font-size: 20px;
    margin-left: 20cm;
    text-align: justify;
    color: white;
    font-style: italic;
}

.textocentral {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: black;
    background-color: red;
    text-align: justify;
    margin-left: 10cm;
    margin-right: 10cm;
}

.lista {
    font-size: 20px;
}

.fundotexto {
    background-color: red;
}