body {
    background-image: linear-gradient(rgb(78, 134, 156), rgb(61, 115, 136), rgb(41, 92, 107), rgb(18, 46, 68));
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: scroll;
    color: white;
    text-align: center;
}

header {
    font-size: 30px;
}

img {
    width: 25%;
    height: 25%;
}