.container {
    height: 50vh;
    display: grid;
    /* grid-template-columns: ; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    row-gap: 20px;
    column-gap: 10px;

    grid-auto-flow: column;
}

.box1 {
    background-color: rgb(51, 86, 161);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box2 {
    background-color: rgb(233, 158, 73);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box3 {
    background-color: rgb(149, 185, 252);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box4 {
    background-color: rgb(51, 86, 161);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

